<footer class="p-5 bg-[radial-gradient(circle_at_top_left,_#000000,_#003366)] shadow-lg rounded-lg md:p-8 lg:p-10">
    <div class="mx-auto max-w-screen-xl text-center">
        <a href="/login" class="flex justify-center items-center text-2xl font-semibold text-white mb-4">
            <img src="/logocoresys.png" alt="Logo CoreSys" class="mr-2 h-7" /> <!-- Agrega aquí la ruta de tu logo -->
            CoreSys
        </a>
        <p class="my-4 text-white">
            <strong>Coresys: Soluciones de Software Innovadoras para Transformar Empresas. Empoderamos a las organizaciones con tecnología de vanguardia, confiabilidad y eficiencia.</strong>
        </p>
        
        <!-- Botones -->
        <div class="flex justify-center space-x-4 mb-6">
            <a href="/login" class="relative inline-block px-4 py-2 font-medium text-white group">
                <span class="absolute inset-0 w-full h-full transition duration-300 ease-out transform translate-x-1 translate-y-1 bg-black group-hover:translate-x-0 group-hover:translate-y-0"></span>
                <span class="absolute inset-0 w-full h-full bg-[#003366] border-2 border-black group-hover:bg-[#002244]"></span>
                <span class="relative text-white group-hover:text-white">Iniciar Sesión</span>
            </a>
            <a href="/asociados" class="relative inline-block px-4 py-2 font-medium text-white group">
                <span class="absolute inset-0 w-full h-full transition duration-300 ease-out transform translate-x-1 translate-y-1 bg-black group-hover:translate-x-0 group-hover:translate-y-0"></span>
                <span class="absolute inset-0 w-full h-full bg-[#003366] border-2 border-black group-hover:bg-[#002244]"></span>
                <span class="relative text-white group-hover:text-white">Asociados</span>
            </a>
            <a href="/nosotros" class="relative inline-block px-4 py-2 font-medium text-white group">
                <span class="absolute inset-0 w-full h-full transition duration-300 ease-out transform translate-x-1 translate-y-1 bg-black group-hover:translate-x-0 group-hover:translate-y-0"></span>
                <span class="absolute inset-0 w-full h-full bg-[#003366] border-2 border-black group-hover:bg-[#002244]"></span>
                <span class="relative text-white group-hover:text-white">Nosotros</span>
            </a>
            <a href="/contacto" class="relative inline-block px-4 py-2 font-medium text-white group">
                <span class="absolute inset-0 w-full h-full transition duration-300 ease-out transform translate-x-1 translate-y-1 bg-black group-hover:translate-x-0 group-hover:translate-y-0"></span>
                <span class="absolute inset-0 w-full h-full bg-[#003366] border-2 border-black group-hover:bg-[#002244]"></span>
                <span class="relative text-white group-hover:text-white">Contáctanos</span>
            </a>
        </div>
        <p class="text-sm text-white">© 2024 CoreSys. Los Derechos Están Reservados</p>
    </div>
</footer>

