<app-navbar-web></app-navbar-web>

<main class="relative flex items-center justify-center min-h-screen bg-cover bg-center"
  style="background-image: url('https://source.unsplash.com/random/1600x900/?nature');">
  <div class="absolute inset-0 bg-black opacity-30"></div> <!-- Capa oscura para mejorar la legibilidad -->
  <div class="relative z-10 text-center text-white px-6 py-24 sm:py-32 lg:px-8">
    <p class="text-6xl font-semibold text-[#83ff00] leading-tight"> Error 404</p> <!-- Aumentar tamaño del texto -->
    <h1 class="mt-4 text-6xl font-semibold tracking-tight sm:text-8xl">No se encuentra la direccion</h1>
    <!-- Aumentar tamaño del texto -->
    <p class="mt-6 text-lg font-medium sm:text-xl">Lo sentimos, si quieres seguir navegando en nuestra pagina toca el
      boton de inicio </p>
    <div class="mt-10 flex items-center justify-center gap-x-6">
      <a href="/Inicio"
        class="rounded-md bg-[#83ff00] px-4 py-2.5 text-sm font-semibold text-black shadow-md hover:bg-black hover:text-[#83ff00] transition duration-200 transform hover:scale-105 focus:ring-4 focus:outline-none focus:ring-green-300">Volver
        al inicio</a>
      <a href="#" class="text-sm font-semibold border-b border-[#83ff00] text-[#83ff00] hover:text-white">Contact
        support <span aria-hidden="true">&rarr;</span></a>
    </div>
  </div>
</main>

<app-footerweb></app-footerweb>