<app-navbar-web></app-navbar-web>

<section class="bg-gray-100 dark:bg-gray-900">
  <div class="grid max-w-screen-xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12">
    <div class="mr-auto place-self-center lg:col-span-7 lg:mt-16">
      <h1 class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl" style="color: #000000;">
        CoreSys: <span style="color: #002950;">Transformando Ideas en Soluciones</span>
      </h1>
      <p class="max-w-2xl mb-6 font-light text-black lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">En CoreSys,
        desarrollamos software innovador para hacer crecer tu negocio. Nuestro equipo joven y creativo crea soluciones a
        la medida, optimizando tus procesos. ¡Impulsa tu empresa con Coresys!</p>
      <a href="/contactos"
        class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-white border border-gray-300 rounded-lg hover:bg-[#002950] focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800"
        style="background-color: #002950; transition: transform 0.3s ease-in-out; border-color: #002950;"
        onmouseover="this.style.transform='scale(1.1)';" onmouseout="this.style.transform='scale(1)';">
        ¡contactanos!
      </a>
    </div>
    <div class="hidden lg:mt-0 lg:col-span-5 lg:flex">
      <img src="/logocoresys.png" alt="logo" class="max-w-full h-auto" style="max-width: 100%; width: 100%;">
    </div>
  </div>
</section>
<section class="bg-white dark:bg-gray-800 py-16">
  <div class="container mx-auto px-8 lg:px-16">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-12 items-center">
      <img class="w-full rounded-lg shadow-lg dark:hidden transition-transform transform hover:scale-105" src="/fondo.jpg" alt="Imagen del dashboard">
      <div class="space-y-6 text-center md:text-left">
        <h2 class="text-4xl md:text-5xl font-bold tracking-tight text-[#002950] dark:text-[#002950] leading-tight">
          Impulsa tu futuro digital con <span class="text-[#000000] dark:text-[#000000]">CoreSys</span>
        </h2>
        <p class="text-lg font-light text-black dark:text-black leading-relaxed">
          En Coresys, somos especialistas en transformar tus ideas en soluciones tecnológicas de alto impacto.
          Nuestro equipo de desarrolladores trabaja contigo para crear aplicaciones a medida, eficientes y escalables
          que impulsan el crecimiento de tu negocio. Desde aplicaciones web hasta móviles, te ofrecemos las herramientas
          digitales que necesitas para destacar en un mercado competitivo.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="bg-white dark:bg-gray-900">
  <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
    <div class="font-light text-black sm:text-lg dark:text-black">
      <h2 class="mb-4 text-5xl tracking-tight font-extrabold text-[#002950] dark:text-[#002950]">Soluciones Digitales a Tu Medida</h2>
      <p class="mb-4 text-black dark:text-black">Somos estrategas, diseñadores y desarrolladores. Innovadores y solucionadores de problemas. Lo suficientemente ágiles para ser rápidos y eficientes, pero lo bastante grandes para ofrecerte soluciones a la medida de tus necesidades.</p>
      <p class="text-black dark:text-black">Nos adaptamos al ritmo que tu negocio requiere, entregando calidad sin comprometer la simplicidad. En Coresys, transformamos tus ideas en soluciones tecnológicas, desarrollando software que impulsa tu crecimiento.</p>
    </div>
    <div class="grid grid-cols-2 gap-4 mt-8">
      <img class="w-full rounded-lg" src="/iguana.png" alt="office content 1">
      <img class="mt-4 w-full lg:mt-10 rounded-lg" src="/logomundotrabel.png" alt="office content 2">
    </div>
  </div>
</section>
<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:mx-0">
      <h2 class="text-[#002950] text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl">Desde nuestro blog</h2>
      <p class="mt-2 text-lg leading-8 text-black">Aprende a hacer crecer tu empresa con nuestros consejos de expertos.</p>
    </div>
    <div class="mx-auto mt-10 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 border-t border-[#002950] pt-10 sm:mt-16 sm:pt-16 lg:mx-0 lg:max-w-none lg:grid-cols-3">
      <article class="flex max-w-xl flex-col items-start justify-between">
        <div class="flex items-center gap-x-4 text-xs">
          <time datetime="2020-03-16" class="text-black">jul 18, 2024</time>
          <a href="#" class="relative z-10 rounded-full bg-[#f7f7f7] px-3 py-1.5 font-medium text-[#002950] hover:bg-[#e0e0e0]">Founder OF CoreSys</a>
        </div>
        <div class="group relative">
          <h3 class="mt-3 text-lg font-semibold leading-6 text-[#002950] group-hover:text-[#005f7f]">
            <a href="#">
              <span class="absolute inset-0"></span>
              Transformación Digital
            </a>
          </h3>
          <p class="mt-5 line-clamp-3 text-sm leading-6 text-black">Con una solución de automatización de Coresys, ofrecemos sistemas que gestionan reservas en tiempo real, aseguran la disponibilidad precisa y reducen errores manuales.</p>
        </div>
        <div class="relative mt-8 flex items-center gap-x-4">
          <img src="/andres.jpeg" alt="" class="h-10 w-10 rounded-full bg-[#f7f7f7]">
          <div class="text-sm leading-6">
            <p class="font-semibold text-[#002950]">
              <a href="#">
                <span class="absolute inset-0"></span>
                Andres Berrio
              </a>
            </p>
            <p class="text-black">Founder / Developer</p>
          </div>
        </div>
      </article>
      <article class="flex max-w-xl flex-col items-start justify-between">
        <div class="flex items-center gap-x-4 text-xs">
          <time datetime="2020-03-23" class="text-black">Mar 23, 2024</time>
          <a href="#" class="relative z-10 rounded-full bg-[#f7f7f7] px-3 py-1.5 font-medium text-[#002950] hover:bg-[#e0e0e0]">Developer Of CoreSys</a>
        </div>
        <div class="group relative">
          <h3 class="mt-3 text-lg font-semibold leading-6 text-[#002950] group-hover:text-[#005f7f]">
            <a href="#">
              <span class="absolute inset-0"></span>
              Desarrollo
            </a>
          </h3>
          <p class="mt-5 line-clamp-3 text-sm leading-6 text-black">Optimizar el código es fundamental para lograr proyectos sostenibles y de calidad, a través de buenas prácticas.</p>
        </div>
        <div class="relative mt-8 flex items-center gap-x-4">
          <img src="/Alejandro.jpeg" alt="" class="h-10 w-10 rounded-full bg-[#f7f7f7]">
          <div class="text-sm leading-6">
            <p class="font-semibold text-[#002950]">
              <a href="#">
                <span class="absolute inset-0"></span>
                Alejandro Davila
              </a>
            </p>
            <p class="text-black">Co Founder / Developer</p>
          </div>
        </div>
      </article>
      <article class="flex max-w-xl flex-col items-start justify-between">
        <div class="flex items-center gap-x-4 text-xs">
          <time datetime="2020-04-02" class="text-black">Ago 4, 2024</time>
          <a href="#" class="relative z-10 rounded-full bg-[#f7f7f7] px-3 py-1.5 font-medium text-[#002950] hover:bg-[#e0e0e0]">Developer Of CoreSys</a>
        </div>
        <div class="group relative">
          <h3 class="mt-3 text-lg font-semibold leading-6 text-[#002950] group-hover:text-[#005f7f]">
            <a href="#">
              <span class="absolute inset-0"></span>
              Maximizando la eficiencia
            </a>
          </h3>
          <p class="mt-5 line-clamp-3 text-sm leading-6 text-black">Con nuestros servicios de transformación digital, apoyamos a las empresas a identificar y reducir procesos ineficientes.</p>
        </div>
        <div class="relative mt-8 flex items-center gap-x-4">
          <img src="/eduardo.jpeg" alt="" class="h-10 w-10 rounded-full bg-[#f7f7f7]">
          <div class="text-sm leading-6">
            <p class="font-semibold text-[#002950]">
              <a href="#">
                <span class="absolute inset-0"></span>
                Eduardo
              </a>
            </p>
            <p class="text-black">Back End Developer</p>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>

<app-footerweb></app-footerweb>