<app-navbar-web></app-navbar-web>

<section class="bg-gray-100 dark:bg-gray-900 py-16 mt-16">
    <div class="container mx-auto px-4">
        <div class="text-center mb-12">
            <h1 class="text-5xl font-extrabold text-[#003366] tracking-tight mb-4">
                Sobre nosotros
            </h1>
            <p class="mt-4 text-lg text-black dark:text-gray-300">
                En CoreSys, somos un equipo apasionado por la innovación y la eficiencia en el sector hotelero. Nuestro objetivo es transformar la gestión hotelera mediante soluciones tecnológicas de vanguardia.
            </p>
        </div>

        <div class="grid grid-cols-1 gap-8 md:grid-cols-2">
            <div class="flex flex-col border border-gray-300 rounded-lg shadow-lg">
                <div class="flex items-center justify-between p-6">
                    <div class="flex-1 mr-6">
                        <h2 class="text-2xl font-bold text-[#003366]">Innovación tecnológica</h2>
                        <p class="mt-2 text-black dark:text-gray-400">En CoreSys, estamos comprometidos a ofrecer soluciones tecnológicas innovadoras que transformen la gestión hotelera, optimizando procesos y mejorando la experiencia del cliente.</p>
                    </div>
                    <img src="/logocoresys.png" alt="Innovación" class="h-48 w-48 object-cover rounded-lg mx-auto">
                </div>
            </div>

            <div class="flex flex-col border border-gray-300 rounded-lg shadow-lg">
                <div class="flex items-center justify-between p-6">
                    <img src="/iguana.png" alt="Colaboración" class="h-48 w-48 object-cover rounded-lg mx-auto">
                    <div class="flex-1 ml-6">
                        <h2 class="text-2xl font-bold text-[#003366]">Colaboración estratégica</h2>
                        <p class="mt-2 text-black dark:text-gray-400">Colaboramos con Iguana House e Iguana Travel para ofrecer un enfoque integral en el sector hotelero y turístico, garantizando que nuestros clientes obtengan la mejor atención y servicios.</p>
                    </div>
                </div>
            </div>

            <div class="flex flex-col border border-gray-300 rounded-lg shadow-lg">
                <div class="flex items-center justify-between p-6">
                    <div class="flex-1 mr-6">
                        <h2 class="text-2xl font-bold text-[#003366]">Compromiso con los proyectos</h2>
                        <p class="mt-2 text-black dark:text-gray-400">La colaboración con la Fundación Universitaria Tecnológico Comfenalco ha sido esencial para nuestro proyecto. Gracias a su apoyo y la participación de estudiantes, hemos integrado ideas innovadoras que enriquecen nuestras soluciones en el desarrollo de software.</p>
                    </div>
                    <img src="/logoconfenalco.png" alt="Calidad" class="h-48 w-48 object-cover rounded-lg mx-auto">
                </div>
            </div>

            <div class="flex flex-col border border-gray-300 rounded-lg shadow-lg">
                <div class="flex items-center justify-between p-6">
                    <img src="/logocoresys.png" alt="Eficiencia" class="h-48 w-48 object-cover rounded-lg mx-auto">
                    <div class="flex-1 ml-6">
                        <h2 class="text-2xl font-bold text-[#003366]">Eficiencia en la gestión</h2>
                        <p class="mt-2 text-black dark:text-gray-400">Nuestro software está diseñado para mejorar la eficiencia operativa, facilitando la gestión de reservas, servicios y atención al cliente, lo que se traduce en una mejor experiencia para todos.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-white py-16">
    <div class="container mx-auto px-4">
        <h2 class="text-4xl font-extrabold text-center mb-12 text-[#003366] dark:text-white">Las tecnologías que usamos</h2>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
            <div class="flex flex-col items-center p-6 border border-gray-300 rounded-lg shadow-lg bg-white dark:bg-gray-700 transition-transform duration-300 hover:scale-105">
                <img src="/typescript.png" alt="TypeScript" class="h-16 mb-4">
                <h3 class="text-2xl font-semibold text-[#003366] dark:text-white">TypeScript</h3>
                <p class="mt-2 text-center text-black dark:text-gray-400">Lenguaje de programación que extiende JavaScript al añadir tipado estático, permitiendo la detección temprana de errores y facilitando el desarrollo de aplicaciones web robustas y escalables.</p>
            </div>
            <div class="flex flex-col items-center p-6 border border-gray-300 rounded-lg shadow-lg bg-white dark:bg-gray-700 transition-transform duration-300 hover:scale-105">
                <img src="/angular.png" alt="Angular" class="h-16 mb-4">
                <h3 class="text-2xl font-semibold text-[#003366] dark:text-white">Angular</h3>
                <p class="mt-2 text-center text-black dark:text-gray-400">Framework potente y flexible para el desarrollo de aplicaciones web, que permite crear interfaces de usuario dinámicas y escalables utilizando componentes reutilizables y un enfoque de diseño declarativo.</p>
            </div>
            <div class="flex flex-col items-center p-6 border border-gray-300 rounded-lg shadow-lg bg-white dark:bg-gray-700 transition-transform duration-300 hover:scale-105">
                <img src="/go.jpeg" alt="Go" class="h-16 mb-4">
                <h3 class="text-2xl font-semibold text-[#003366] dark:text-white">Go</h3>
                <p class="mt-2 text-center text-black dark:text-gray-400">Lenguaje de programación de código abierto diseñado para la eficiencia y la simplicidad. Ideal para el desarrollo de aplicaciones backend y microservicios, ofrece un rendimiento sobresaliente y una sintaxis clara.</p>
            </div>
            <div class="flex flex-col items-center p-6 border border-gray-300 rounded-lg shadow-lg bg-white dark:bg-gray-700 transition-transform duration-300 hover:scale-105">
                <img src="/js.png" alt="JavaScript" class="h-16 mb-4">
                <h3 class="text-2xl font-semibold text-[#003366] dark:text-white">JavaScript</h3>
                <p class="mt-2 text-center text-black dark:text-gray-400">Lenguaje de programación esencial para la creación de contenido web interactivo. Permite añadir funcionalidades dinámicas a páginas web y es compatible con todos los navegadores modernos.</p>
            </div>
            <div class="flex flex-col items-center p-6 border border-gray-300 rounded-lg shadow-lg bg-white dark:bg-gray-700 transition-transform duration-300 hover:scale-105">
                <img src="/mysql.png" alt="MySQL" class="h-16 mb-4">
                <h3 class="text-2xl font-semibold text-[#003366] dark:text-white">MySQL</h3>
                <p class="mt-2 text-center text-black dark:text-gray-400">Sistema de gestión de bases de datos relacional muy popular, utilizado para almacenar y gestionar datos en aplicaciones web. Ofrece flexibilidad, escalabilidad y un alto rendimiento en consultas.</p>
            </div>
            <div class="flex flex-col items-center p-6 border border-gray-300 rounded-lg shadow-lg bg-white dark:bg-gray-700 transition-transform duration-300 hover:scale-105">
                <img src="/mongo.png" alt="MongoDB" class="h-16 mb-4">
                <h3 class="text-2xl font-semibold text-[#003366] dark:text-white">MongoDB</h3>
                <p class="mt-2 text-center text-black dark:text-gray-400">Base de datos NoSQL orientada a documentos, ideal para manejar grandes volúmenes de datos con alta flexibilidad y escalabilidad. Facilita el desarrollo ágil de aplicaciones modernas.</p>
            </div>
        </div>
    </div>
</section>
<section class="bg-white dark:bg-gray-800 py-16">
    <div class="container mx-auto px-4">
        <h2 class="text-4xl font-extrabold text-center mb-12 text-[#003366] dark:text-white">Nosotros los Desarrolladores</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
            <div class="flex flex-col items-center p-6 border border-gray-300 rounded-lg shadow-lg bg-white dark:bg-gray-700 transition-transform duration-300 hover:scale-105">
                <img src="/Alejandro.jpeg" alt="Alejandro Davila" class="h-40 w-40 object-cover rounded-full mb-4">
                <h3 class="text-2xl font-semibold text-[#003366] dark:text-white">Alejandro Davila</h3>
                <p class="mt-2 text-center text-[#003366] dark:text-gray-400">Front End Developer</p>
                <p class="mt-1 text-center text-[#003366] dark:text-gray-400">&#64;7Axel.amg</p>
                <a href="https://instagram.com/7Axel.amg" class="mt-4 text-[#003366] hover:text-[#002244] transition-colors duration-300" target="_blank">Ver Perfil</a>
            </div>
            <div class="flex flex-col items-center p-6 border border-gray-300 rounded-lg shadow-lg bg-white dark:bg-gray-700 transition-transform duration-300 hover:scale-105">
                <img src="/andres.jpeg" alt="Andres Berrio" class="h-40 w-40 object-cover rounded-full mb-4">
                <h3 class="text-2xl font-semibold text-[#003366] dark:text-white">Andres Berrio</h3>
                <p class="mt-2 text-center text-[#003366] dark:text-gray-400">Front End Developer</p>
                <p class="mt-1 text-center text-[#003366] dark:text-gray-400">&#64;af06_berrio</p>
                <a href="https://www.instagram.com/af06_berrio/profilecard/?igsh=MWZ5eW9zcHE0NDVheg==" class="mt-4 text-[#003366] hover:text-[#002244] transition-colors duration-300" target="_blank">Ver Perfil</a>
            </div>
            <div class="flex flex-col items-center p-6 border border-gray-300 rounded-lg shadow-lg bg-white dark:bg-gray-700 transition-transform duration-300 hover:scale-105">
                <img src="/eduardo.jpeg" alt="Eduardo" class="h-40 w-40 object-cover rounded-full mb-4">
                <h3 class="text-2xl font-semibold text-[#003366] dark:text-white">Eduardo</h3>
                <p class="mt-2 text-center text-[#003366] dark:text-gray-400">Back End Developer</p>
                <p class="mt-1 text-center text-[#003366] dark:text-gray-400">&#64;its_me_edu0</p>
                <a href="https://www.instagram.com/its_me_edu0/profilecard/?igsh=dzFwdmVxZ2FwYjRp" class="mt-4 text-[#003366] hover:text-[#002244] transition-colors duration-300" target="_blank">Ver Perfil</a>
            </div>
            <div class="flex flex-col items-center p-6 border border-gray-300 rounded-lg shadow-lg bg-white dark:bg-gray-700 transition-transform duration-300 hover:scale-105">
                <img src="/milton.jpeg" alt="Milton Berrio" class="h-40 w-40 object-cover rounded-full mb-4">
                <h3 class="text-2xl font-semibold text-[#003366] dark:text-white">Milton Berrio</h3>
                <p class="mt-2 text-center text-[#003366] dark:text-gray-400">Base De Datos Administrador</p>
                <p class="mt-1 text-center text-[#003366] dark:text-gray-400">&#64;milton.berrio</p>
                <a href="https://www.instagram.com/milton.berrio/profilecard/?igsh=a2I2cTBzbHVxZm5s" class="mt-4 text-[#003366] hover:text-[#002244] transition-colors duration-300" target="_blank">Ver Perfil</a>
            </div>
            <div class="flex flex-col items-center p-6 border border-gray-300 rounded-lg shadow-lg bg-white dark:bg-gray-700 transition-transform duration-300 hover:scale-105">
                <img src="/manuel.jpeg" alt="Manuel Ruiz" class="h-40 w-40 object-cover rounded-full mb-4">
                <h3 class="text-2xl font-semibold text-[#003366] dark:text-white">Manuel Ruiz</h3>
                <p class="mt-2 text-center text-[#003366] dark:text-gray-400">Base De Datos Administrador</p>
                <p class="mt-1 text-center text-[#003366] dark:text-gray-400">&#64;manuel_e_ruiz</p>
                <a href="https://www.instagram.com/manuel_e_ruiz_/profilecard/?igsh=MXhzdGhpeHJ6OHdmOQ==" class="mt-4 text-[#003366] hover:text-[#002244] transition-colors duration-300" target="_blank">Ver Perfil</a>
            </div>
        </div>
    </div>
</section>

<app-footerweb></app-footerweb>