<app-navbardash></app-navbardash>

<div class="main-container flex p-4">
  <app-sidebar class="w-64"></app-sidebar> <!-- Sidebar con ancho fijo -->

  <div class="flex-grow bg-white shadow-lg rounded-lg p-6 sm:p-8 xl:p-10 mt-16">
    <div class="flex flex-col mt-8 items-center"> <!-- Centra el contenido -->
      <div class="w-full"> <!-- Ancho completo -->
        <iframe 
          class="full-iframe" 
          title="datsetPro" 
          src="https://app.powerbi.com/view?r=eyJrIjoiN2MyOGM2OWMtY2I3OC00ZTA2LTg0ODUtNmU1YTBkOTQ0ZmQyIiwidCI6IjlkMTJiZjNmLWU0ZjYtNDdhYi05MTJmLTFhMmYwZmM0OGFhNCIsImMiOjR9" 
          frameborder="0" 
          allowFullScreen="true">
        </iframe>
      </div>
    </div>
  </div>
</div>
