<header>
    <nav class="bg-white shadow-md fixed top-0 left-0 right-0 z-50 rounded-lg">
        <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl px-4 py-2">
            <a href="/login" class="flex items-center space-x-3">
                <img src="/logocoresys.png" class="h-12 w-auto sm:h-14" alt="CoreSys Logo" />
                <span class="text-3xl font-bold text-black hover:text-[#003366] transition-colors duration-300">
                    CoreSys
                </span>
            </a>
            <div class="hidden lg:flex lg:w-auto">
                <ul class="flex space-x-6 font-medium">
                    <li>
                        <a href="/Inicio" class="py-2 px-2 text-black text-xl font-medium rounded transition-all duration-300 relative group">
                            Inicio
                            <span class="absolute left-1/2 bottom-0 w-0 h-0.5 bg-[#003366] group-hover:w-full transition-all duration-300 transform -translate-x-1/2"></span>
                        </a>
                    </li>
                    <li>
                        <a href="/asociados" class="py-2 px-2 text-black text-xl font-medium rounded transition-all duration-300 relative group">
                            Asociados
                            <span class="absolute left-1/2 bottom-0 w-0 h-0.5 bg-[#003366] group-hover:w-full transition-all duration-300 transform -translate-x-1/2"></span>
                        </a>
                    </li>
                    <li>
                        <a href="/nosotros" class="py-2 px-2 text-black text-xl font-medium rounded transition-all duration-300 relative group">
                            Nosotros
                            <span class="absolute left-1/2 bottom-0 w-0 h-0.5 bg-[#003366] group-hover:w-full transition-all duration-300 transform -translate-x-1/2"></span>
                        </a>
                    </li>
                    <li>
                        <a href="/contactos" class="py-2 px-2 text-black text-xl font-medium rounded transition-all duration-300 relative group">
                            Más Información
                            <span class="absolute left-1/2 bottom-0 w-0 h-0.5 bg-[#003366] group-hover:w-full transition-all duration-300 transform -translate-x-1/2"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="flex lg:order-2">
                <a href="/bienvenida" class="text-white bg-[#003366] rounded-lg font-medium text-sm px-3 py-2 mr-2 transition-transform duration-300 hover:scale-105">
                    Iniciar Sesión
                </a>
            </div>            
        </div>
    </nav>
</header>
